[global]
# ---------------------------------------------------------------------------------------------
# This is the configuration file for servermonitor, please read our README before you start.
# ---------------------------------------------------------------------------------------------

# id and password to use this application can be found at the servermonitor site. You need to add your server there before you start.

# Change to the id you have been given
id = 231
# Change password
password = ChangeMe

# ---------------------------------------------------------------------------------------------
# Everything under this line is OPTIONAL
# ---------------------------------------------------------------------------------------------

# This application also monitor the system load of your server. If you dont know anything about server load, please keep this at the standard value(3)
threshold = 3

# Standard ports for services (can be modified if you use a custom port)
[ports]
ssh = 22
ftp = 21
http = 80

# This config file is case insensitive!
HTTPS = 443
SmtP = 25
ImAp = 143

# You can also use colons.
pop : 993
afp : 548
smb : 445
mysql : 3306

# You don't have to define any of these, fallback will be the default port for that service.
#dns : 53
#ldap = 389
